footer {
    background-color: #334B8E;
    height: 113px;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    letter-spacing: 1px;
    a {
        margin: 0 43px;
        transition-duration: 0.2s;
        -moz-transition-duration: 0.2s;
        &:hover {
            cursor: pointer;
            color: #30BAE7;
        }
    }
}

@media screen and (max-width: 630px) {
    footer {
        font-size: 20px;
        a {
            margin: 0 20px;
        }
    }
}