header {
    width: 100%;
    z-index: 9;
    display: flex;
    background-color: #864F9C;
    align-items: center;
    justify-content: space-between;
    padding: 57px 0 40px 0;
    position: fixed;
    img {
        height: 37px;
        padding-left: 10px;
        margin-left: 202px;
    }
    ul {
        display: flex;
        align-items: center;
        margin-right: 122px;
        li {
            a {
                color: #ffffff;
                font-weight: 500;
                font-size: 16px;
                padding: 10px 16px;
                margin-left: 26px;
                border-radius: 5px;
                transition-duration: 0.2s;
                -moz-transition-duration: 0.2s;
                &:hover {
                    cursor: pointer;
                    background-color: #633A79;
                }
            }
        }
    }
}