.what-people-say {
        background-color: #D74580;
        padding-top: 116px;
        display: flex;
        flex-direction: column;
        align-items: center;
    h2 {
        font-size: 42px;
        color: #ffffff;
        padding-bottom: 21px;
        letter-spacing: 4px;
    }
    .divider {
        width: 87px;
        border: 2px solid #B73B6D;
    }
    h3 {
        font-size: 20px;
        color: #ffffff;
        padding-top: 22px;
        max-width: 710px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4;
        margin-bottom: 70px;
    }
    .comment-card-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1080px;
    }
    .comment-card {
        display: flex;
        margin-bottom: 146px;
        width: 490px;
        .comment-pic {
            width: 96px;
            height: 96px;
            background-color: #777777;
            border-radius: 50%;
        }
        .comment-text-block {
            display: flex;
            flex-direction: column;
            color: #ffffff;
            padding-left: 48px;
            p {
                letter-spacing: 1px;
                line-height: 1.4;
                max-width: 344px;
                margin-bottom: 2px;
                padding-top: 13px;
                font-size: 21px;
                min-height: 118px;
            }
            h4 {
                font-size: 19px;
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 25px;
            }
            h5 {
                letter-spacing: 1px;
                line-height: 1.4;
                color: #FFDD99;
                font-size: 19px;
            }
        }
    }
}