.skills-section {
    padding-top: 114px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 42px;
        color: #3C4761;
        padding-bottom: 21px;
        letter-spacing: 4px;
        text-align: center;
    }
    .divider {
        width: 87px;
        border: 2px solid #DFE7ED;
    }
    h3 {
        font-size: 20px;
        color: #3C4761;
        padding-top: 22px;
        max-width: 710px;
        text-align: center;
        letter-spacing: 1px;
        line-height: 1.4;
    }
    .skill-display-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 80px;
        .skill-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 43px;
            h4 {
                font-size: 24px;
                padding-top: 31px;
                // padding-bottom: 13px;
                letter-spacing: 1px;
                color: #3C4761;
            }
        }
    }
}